.contenidoIndumentaria{
        margin: 0px 0px 10px 0px;

    .titulo{
        margin: 10px 0px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalogoCamperas{
        border: solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin: 5px 5px 0px 5px;
        padding: 5px 0px 5px 0px;
    }
    .catalogoRemeras{
        border: solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin: 5px 5px 0px 5px;
        padding: 5px 0px 5px 0px;
    }
    .catalogoPantalones{
        border: solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin: 5px 5px 0px 5px;
        padding: 5px 0px 5px 0px;
    }
    .catalogoGorras{
        border: solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin: 5px 5px 0px 5px;
        padding: 5px 0px 5px 0px;
    }
    .catalogo{
        display: flex;
        flex-wrap: wrap;
        border: solid black;
        flex-direction: column;
        background-color: white;
        margin: 10px 5px 10px 5px;
        padding: 5px 5px 5px 5px;
    }
    .catalogo p{
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: larger;
        font-weight: bolder;
        margin: 5px 0px 0px 0px;
        padding: 5px 5px 10px 5px;
    }
    .catalogo:hover{
        box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
    }
    .boton{
        border: 2px solid black;
        border-radius: 8px;
        font-size: 15px;
        margin: 0px 0px 0px 5px;
        padding: 5px 5px;
        background-color: white;
        color: black;
        transition-duration: 0.4s;
    }
    .boton:hover{
        background-color: rgb(181, 180, 177);
        color: rgb(0, 0, 0);
    }
}
.catalogo img{
    width: 200px;
    height: 250px;
}