/* seccion repuestos */
.seccionRepuestos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.stockRepuestos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
    margin: 15px 15px 15px 15px;
    padding: 0px 10px 0px 10px;
    .cajaRepuestos{
        display: flex;
        flex-wrap: wrap;
        border: 3px solid black;
        margin: 5px 0px 5px 0px;
        padding: 5px 0px 0px 0px;
    }
    .descripcionRepuestos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .descripcion{
        margin: 0px 0px 0px 3px;
        font-size: larger;
        font-weight: bolder;
    }
    .precioRepuestos{
        margin: 15px 0px 0px 5px;
    }
    .botonRepuestos{
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0px 5px 0px;
    }
    .botonCarritoRepuestos{
        border: 3px solid black;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bolder;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0px 0px 0px 5px;
        background-color: white;
        color: black;
        transition-duration: 0.4s;
    }
    .botonCarritoRepuestos:hover{
        background-color: rgb(29, 130, 198);
        color: rgb(0, 0, 0);
    }
}
.fotoRepuesto img{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    margin: 0px 15px 0px 0px;
}
.caballete{
    height: 15vh;
}
.manijas{  
    height: 15vh;
}
/* carrito */
.carritoYPagoRepuestos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(224, 224, 224);
    color: black;
    font-size: 16px;
    border: 2px solid black;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
    padding: 0px 15px 0px 15px;
}
.carritoYPagoRepuestos img{
    width: 20%;
}
.botonPagoRepuestos{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.botonPagoRepuestos:hover{
    background-color: rgb(29, 130, 198);
    color: rgb(0, 0, 0);
}
.buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px 0px 15px;
}
.buscador input{
        margin: 5px 0px 5px 0px;
        padding: 10px 10px 10px 10px;
        font-weight: bolder;
}
.buscador button{
    margin: 5px 0px 5px 0px;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
}
