@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
}

header {
  background-color: rgb(0, 144, 187);
}

body {
  width: 100%;
}

.bNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.bNav .logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.bNav .menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
  margin: 0px 50px 10px 50px;
  padding: 0px 0px 0px 0px;
}
.bNav .menu .navMenuItem a {
  text-decoration: none;
  font-size: large;
  font-style: inherit;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.bNav .menu .navMenu {
  padding: 0px 15px 0px 15px;
  border-radius: 15px;
  transition: 0.5s;
}
.bNav .menu .navMenu:hover {
  background-color: gainsboro;
}

.menuIcon {
  display: none;
}

.menuIcon, #check {
  display: none;
}

@media (max-width: 935px) {
  .menuIcon {
    display: block;
    position: fixed;
    top: 15px;
    right: 45px;
    width: 10px;
  }
  .bNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .bNav .logo {
    width: 150px;
  }
  .bNav .menu {
    display: block;
    position: fixed;
    top: 65px;
    left: -200%;
    background-color: rgb(0, 144, 187);
    width: 50%;
    height: 60vh;
    right: 245;
    opacity: 1;
    border: 2px solid black;
  }
  .bNav .navMenuItem {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .bNav .navMenuItem a {
    text-decoration: none;
    font-size: large;
    font-style: inherit;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    height: 0;
  }
  #check:checked ~ ul {
    left: auto;
  }
}
/* Seccion Bicicletas */
.seccionBicicletas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccionBicicletas p {
  font-size: larger;
  font-weight: bolder;
}

.bicicletas {
  border: 5px solid black;
  margin: 1px 5px 1px 5px;
  border-radius: 15px;
}

.stockBicicletas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  margin: 15px 0px 15px 0px;
}

.cajaBicicletas {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  margin: 5px 5px 5px 5px;
  padding: 15px 0px 15px 0px;
  width: 99%;
}

.fotoBicicletas img {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.descripcionBicicletas {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
}

.descripcionBicicletas p {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.precioBicicletas {
  margin: 5px 0px 10px 0px;
}

.botonCarritoBicicletas {
  border: 2px solid black;
  border-radius: 8px;
  font-size: 17px;
  margin: 0px 0px 0px 5px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.botonCarritoBicicletas:hover {
  background-color: rgb(181, 180, 177);
  color: rgb(0, 0, 0);
}

.buscadorBicicletas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px 15px 0px 0px;
}

.buscadorBicicletas input {
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
}

.buscadorBicicletas button {
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
}

.carritoYPagoBicicletas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 16px;
  border: 2px solid black;
  transition-duration: 0.4s;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  padding: 0px 15px 0px 15px;
}

/* formulario de contacto */
.formulario {
  background-color: rgb(224, 224, 224);
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-weight: bolder;
}

.articulo {
  width: 90%;
  max-width: 400px;
  background-color: rgb(0, 144, 187);
  margin: auto;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 7px 13px 37px black;
}

.form {
  display: flex;
  align-items: center;
}

.textoContacto {
  font-weight: bolder;
  font-size: x-large;
}

div .logoForm {
  width: 50px;
  overflow: hidden;
  margin-left: -5px;
  display: block;
}

.contacto {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-auto-columns: auto;
}

.contacto label, .contacto input, .contacto textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.contacto label {
  font-weight: bolder;
}

textarea {
  margin: 5px 0px 0px 0px;
}

.informacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type=reset] {
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
}

input[type=submit] {
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
}

.contenidoIndumentaria {
  margin: 0px 0px 10px 0px;
}
.contenidoIndumentaria .titulo {
  margin: 10px 0px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenidoIndumentaria .catalogoCamperas {
  border: solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 5px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
}
.contenidoIndumentaria .catalogoRemeras {
  border: solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 5px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
}
.contenidoIndumentaria .catalogoPantalones {
  border: solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 5px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
}
.contenidoIndumentaria .catalogoGorras {
  border: solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 5px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
}
.contenidoIndumentaria .catalogo {
  display: flex;
  flex-wrap: wrap;
  border: solid black;
  flex-direction: column;
  background-color: white;
  margin: 10px 5px 10px 5px;
  padding: 5px 5px 5px 5px;
}
.contenidoIndumentaria .catalogo p {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: larger;
  font-weight: bolder;
  margin: 5px 0px 0px 0px;
  padding: 5px 5px 10px 5px;
}
.contenidoIndumentaria .catalogo:hover {
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
}
.contenidoIndumentaria .boton {
  border: 2px solid black;
  border-radius: 8px;
  font-size: 15px;
  margin: 0px 0px 0px 5px;
  padding: 5px 5px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}
.contenidoIndumentaria .boton:hover {
  background-color: rgb(181, 180, 177);
  color: rgb(0, 0, 0);
}

.catalogo img {
  width: 200px;
  height: 250px;
}

/* SECCION MOTOS */
.seccionMotos {
  background-color: rgb(224, 224, 224);
  margin: 0px 0px 5px 0px;
}

.seccionMotos h1 {
  justify-content: center;
  background-color: rgb(39, 199, 239);
  margin: 5px 0px 5px 0px;
}

.seccionMotos .contenedorMotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tituloVentaMotos h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: linear-gradient(#1497be, #1c2aec);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-animation: text 5s linear infinite;
          animation: text 5s linear infinite;
}

@-webkit-keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.cajaMarcas {
  width: 80%;
  margin: 0px 15px 10px 15px;
  padding: 0px 0px 5px 0px;
  border: 4px solid black;
  box-shadow: 0px 1px 1px 0 rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}
.cajaMarcas .contenedorUnidadesVenta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px 5px 0px 5px;
  width: 70%;
}
.cajaMarcas .contenedorUnidadesVenta .contenidoPublicacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: medium;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border: 4px solid black;
  margin: 0px 0px 5px 0px;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.cajaMarcas .contenedorUnidadesVenta .contenidoPublicacion:hover {
  background-color: rgb(39, 199, 239);
  color: rgb(0, 0, 0);
}
.cajaMarcas .contenedorUnidadesVenta .fotoUnidades {
  display: flex;
  flex-wrap: wrap;
  color: black;
  border: 4px solid black;
  width: 100%;
  height: 270px;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* Arreglo de imagenes con diferente tamaño */
.fotoUnidades img {
  width: 100%;
  height: 270px;
}

/* seccion repuestos */
.seccionRepuestos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.stockRepuestos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 3px solid black;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  margin: 15px 15px 15px 15px;
  padding: 0px 10px 0px 10px;
}
.stockRepuestos .cajaRepuestos {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 0px 0px;
}
.stockRepuestos .descripcionRepuestos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.stockRepuestos .descripcion {
  margin: 0px 0px 0px 3px;
  font-size: larger;
  font-weight: bolder;
}
.stockRepuestos .precioRepuestos {
  margin: 15px 0px 0px 5px;
}
.stockRepuestos .botonRepuestos {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 5px 0px;
}
.stockRepuestos .botonCarritoRepuestos {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px 0px 0px 5px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}
.stockRepuestos .botonCarritoRepuestos:hover {
  background-color: rgb(29, 130, 198);
  color: rgb(0, 0, 0);
}

.fotoRepuesto img {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  margin: 0px 15px 0px 0px;
}

.caballete {
  height: 15vh;
}

.manijas {
  height: 15vh;
}

/* carrito */
.carritoYPagoRepuestos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 16px;
  border: 2px solid black;
  transition-duration: 0.4s;
  box-shadow: 0px 4px 8px 0 rgb(0, 0, 0);
  padding: 0px 15px 0px 15px;
}

.carritoYPagoRepuestos img {
  width: 20%;
}

.botonPagoRepuestos {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
}

.botonPagoRepuestos:hover {
  background-color: rgb(29, 130, 198);
  color: rgb(0, 0, 0);
}

.buscador {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0px 0px 15px;
}

.buscador input {
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
  font-weight: bolder;
}

.buscador button {
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
  font-weight: bolder;
}

/* seccion seguros */
.formularioSeguros {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px 25px 0px;
}

.cargaDeDatos {
  width: 100%;
  max-width: 400px;
  background-color: rgb(0, 144, 187);
  margin: auto;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 7px 13px 37px black;
}

.logoSeguros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.atm img {
  width: 20%;
  margin: -5px 0px 0px 0px;
}

.triunfo img {
  width: 35%;
  margin: -5px 0px 0px 0px;
}

.orbis img {
  width: 35%;
  margin: -5px 0px 0px 0px;
}

.atm {
  padding: 8px 0px 8px 0px;
}

.triunfo {
  padding: 14px 0px 14px 0px;
}

.orbis {
  padding: 2px 0px 2px 0px;
}

.textoContacto {
  font-size: medium;
  margin: 15px 0px 15px 0px;
}

.textSeguros {
  display: flex;
  flex-wrap: wrap;
  font-size: larger;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  border: 5px solid black;
  border-radius: 15px;
  flex: 1;
  margin: 10px 0px 0px 0px;
  background-color: rgb(192, 223, 250);
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul.sliders {
  position: relative;
  width: 100%;
  height: 700px;
}
.slider ul.sliders li {
  position: absolute;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
}
.slider ul.sliders li:first-child {
  opacity: 1;
}
.slider .sliders {
  display: flex;
  flex-wrap: wrap;
}
.slider .sliders .sliders li {
  width: 100%;
  list-style: none;
}
.slider .sliders .sliders img {
  width: 100%;
  position: relative;
}
.slider .sliders .seccionTitulosInfo {
  display: flex;
  position: absolute;
  flex-direction: column;
  font-size: larger;
  font-weight: bolder;
  color: white;
  align-content: center;
  justify-content: center;
}
.slider .sliders .seccionTitulosInfo h1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* menu del carrousel */
.vistInfor {
  margin: auto;
  width: 100%;
  padding: 30px;
}
.vistInfor .menuCarrousel {
  text-align: center;
  margin: 20px;
}
.vistInfor .menuCarrousel li {
  display: inline-block;
  text-align: center;
}
.vistInfor .menuCarrousel li a {
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: gray;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
}

ul.sliders {
  position: relative;
  width: 100%;
  height: 700px;
}

ul.sliders li {
  position: absolute;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
}

ul.sliders li:first-child {
  opacity: 1;
}

li img {
  width: 100%;
  height: 100%;
}

ul.sliders li:target {
  opacity: 1;
}

/* informacion de productos */
.indexInformacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.indexInformacion .indexDescripcionInformacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 10px 0px 0px;
}
.indexInformacion .indexDescripcionInformacion h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: cursive;
}
.indexInformacion .indexDescripcionInformacion p {
  font-size: larger;
  font-weight: bolder;
  font-family: cursive;
  margin: 25px 0px 0px;
}
.indexInformacion .imagenesIndexInformacion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0px 0px;
}
.indexInformacion .imagenesIndexInformacion img {
  width: 200px;
  height: 200px;
}
.indexInformacion .informacionAdicional {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-family: cursive;
  margin: 50px 0px 0px 10px;
}
.indexInformacion .informacionAdicional .informacionAdicionalDescipcion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.indexInformacion .informacionAdicional .informacionAdicionalDescipcion p {
  margin: 20px 0px;
}
.indexInformacion .informacionAdicional .informacionAdicionalDescipcionAceite {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin: 0px 10px 0px 25px;
}
.indexInformacion .informacionAdicional .informacionAdicionalDescipcionAceite img {
  width: 80px;
  margin: 0px 0px 10px;
}
.indexInformacion .imagenesIndexInformacionTaller {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0px 0px;
}
.indexInformacion .imagenesIndexInformacionTaller img {
  width: 500px;
  height: 200px;
}
.indexInformacion .informacionAdicionalTaller {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-family: cursive;
  margin: 50px 0px 0px 10px;
}
.indexInformacion .informacionAdicionalDescipcionTaller {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

/*pie de pagina*/
.pieDePagina {
  background-color: rgb(0, 144, 187);
  width: auto;
  height: auto;
  display: fleX;
  flex-wrap: wrap;
  align-items: center;
}
.pieDePagina .footerLogo {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.pieDePagina .cajaSeccionesFooter {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.pieDePagina .cajaSeccionesFooter .bloqueUno {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.pieDePagina .cajaSeccionesFooter .bloqueUno .listaUno li {
  list-style-type: none;
  font-size: large;
  font-style: inherit;
  font-weight: bolder;
  padding: 15px 0px 15px 0px;
}
.pieDePagina .cajaSeccionesFooter .bloqueDos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.pieDePagina .cajaSeccionesFooter .bloqueDos .listaDos li {
  list-style-type: none;
  padding: 15px 0px 15px 0px;
  font-size: large;
  font-style: inherit;
  font-weight: bolder;
}
.pieDePagina .cajaSeccionesFooter .footerMenu {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0px 15px 0px 15px;
  border-radius: 15px;
  transition: 0.5s;
}
.pieDePagina .cajaSeccionesFooter .footerMenu:hover {
  background-color: rgb(148, 216, 255);
}
.pieDePagina .elementosFooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.pieDePagina .elementosFooter .footerLogoMarca {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}
.pieDePagina .elementosFooter .footerLogoPago {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}
.pieDePagina .elementosFooter .footerLogoSociales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}
.pieDePagina .dondeEstamos {
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */